Name: Validate the Terraform code

on:
  push:
    branches:
      master

jobs:
  Valiate:
    runs_on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Terraform initialization
        runs: terraform init

      - name: Validate
        runs: terraform validate