name: Validate the Terraform code

on:
  push:
    branches:
      master

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Terraform initialization
        run: terraform init

      - name: Validate
        run: terraform validate

      # - name: Try to plan
      #   run: terraform plan